

header {
    margin-top: 90px;
    margin-bottom: 50px;
    border-radius: 5px;
    width: 30%;
    margin-left: 41%;
    margin-right: 41%;
    background-color: rgba(255, 255, 255, 0.70)
}

h1 {
    color: #007482;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: bold;

}

body {
    background-image: url(https://img.freepik.com/foto-gratis/letras-espacio-medio_23-2147695535.jpg?w=1060&t=st=1694134437~exp=1694135037~hmac=e582d509bbcfdddd237dd2f2707a6d928ca7e22b0bd91c174f6446fb540a1fa8);
    background-size:108%;
}

textarea[name="user-input"] {
    display: block;
    font-family: Roboto;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.80);
    background-color: #f8f4f4;
    margin-left: 32%;
    margin-right: 32%;
    text-align-last: left;
    padding: 7px;
    border-radius: 6px;
    border: 1.5px solid #007482;
}

textarea::placeholder {
    color: #007482;
    font-family: Roboto;
    font: 14px;
}


ul {
    width: 50%;
    display: block;
    list-style: none;
    margin-left: 28%;
    margin-top: 30px;
}


.li {
    align-items: stretch;
    display: inline-block;
    width: 280px;
    background-color: #e5dacd;
    color: #007482;
    border: none;
    border-radius: 6px;
    margin: 5px;
    padding: .5em;
    text-orientation: sideways-right;
    font-size: 17px;
    font-family: Roboto;
}

#reset-button {
    color: #F2F2F2;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border: none;
    display: block;
    margin-left: 52%;
    margin-right: 52%;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 23px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: bold;
    background-color: #007482;

}

footer {
    height: 20px;
    background-position: bottom;
    background-color: #007482;
    margin: 0 auto;
    padding-top: 0.1%;
    padding-bottom: 2%;
    padding-left: 90px;
    color: #e5dacd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
}